{% extends 'base.html' %}

{% block title %}Profile - MamaChef{% endblock %}

{% block content %}
<h1>Hello {{ user.username }}!</h1>


<h2>Your Recipes</h2>
{% if recipes %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for recipe in recipes %}
            <c-recipe-card recipe = recipe/>
        {% endfor %}
    </div>
{% else %}
    <p>You haven't added any recipes yet. Let's try creating one!</p>
{% endif %}
<c-button href="{% url 'Kitchen:new_recipe' %}" color="primary">Add New Recipe</c-button>

<h2>Your Favorite Recipes</h2>
{% if user.profile.favorite_recipes.exists %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for recipe in user.profile.favorite_recipes.all %}
            <c-recipe-card recipe = recipe />
        {% endfor %}
    </div>
{% else %}
    <p>You haven't saved any recipes yet. Let's explore!</p>
{% endif %}

{% endblock %}