{% extends "base.html" %}

{% block title %}Recipes - MamaChef{% endblock %}

{% block content %}
<div class="px-4 sm:px-0">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-6">
        <h1 class="text-4xl font-bold mb-4">Explore our delicious recipes</h1>
        {% if user.is_authenticated %}
        <c-button link="{% url 'Kitchen:new_recipe' %}" variant="primary" size="lg" class="mb-6">
            Add new Recipe
        </c-button>
        {% endif %}
    </div>
    

    <div>
        <form method="get" class="mb-6">
            <div class="flex flex-col md:flex-row gap-4 items-start">
                <div class="flex-1 w-full">
                    <c-search-bar 
                        placeholder="Search recipes..." 
                        name="q"
                        value="{{ search_query }}"
                    />
                </div>
                <div class="flex gap-2">
                    <c-button type="submit" variant="primary">Search</c-button>
                    {% if search_query %}
                    <c-button link="{% url 'Kitchen:recipes' %}" variant="secondary">Clear</c-button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for recipe in recipes %}
            <c-recipe-card recipe = recipe />
        {% endfor %}
    </div>
</div>
{% endblock %}
