{% extends "base.html" %}

{% block title %}Recipes - MamaChef{% endblock %}

{% block content %}
<div class="px-4 sm:px-0">
    <h1 class="text-4xl font-bold mb-4">Recipes</h1>
    {% if user.is_authenticated %}
    <c-button link="{% url 'Kitchen:new_recipe' %}" variant="primary" size="lg" class="mb-6">
        Add new Recipe
    </c-button>
    {% endif %}
    
    <p class="text-xl mb-6">Explore our delicious recipes</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for recipe in recipes %}
            <c-recipe-card recipe = recipe />
        {% endfor %}
    </div>
</div>
{% endblock %}
