{% extends 'base.html' %}
{% load static %}

{% block title %}{{shopping_list.name}} - MamaChef{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto px-4 py-8">
    <form method="post">
    {% csrf_token %}
    <h1 id="listName" class="text-3xl font-bold mb-6 cursor-pointer">{{ shopping_list.name }}</h1>
    <c-form-field name="list_name" type="text" class="hidden mb-6" value="{{ shopping_list.name }}" />

    <div>
        <c-button variant="primary" type="submit">Save Changes</c-button>
    </div>

    <div id="items-container" class="mt-6">
        {% if shopping_list.items.exists %}
            <ul class="grid gap-4 md:grid-cols-2">
                {% for item in shopping_list.items.all %}
                    <li id="item-cont" class="mb-4">
                        <div class="view-mode flex justify-between items-center">
                            <span class="cursor-pointer text-xl flex-grow">
                                <span class="font-semibold">{{ item.custom_name|default:item.ingredient.name }}</span>
                                - {{ item.quantity }} {{ item.unit }}
                            </span>
                            <c-button class='remove_btn' type="button" variant="secondary">-</c-button>
                        </div>
                        <div class="edit-mode hidden flex flex-col md:flex-row gap-2">
                            <c-form-field type="text" name="item" value="{{ item.custom_name|default:item.ingredient.name }}"/>
                            <c-form-field type="number" name="quantity" value="{{ item.quantity }}"/>
                            <c-form-field type="select" name="unit" :choices="unit_choices" value="{{ item.unit }}"/>
                            <c-button class='remove_btn' type="button" variant="secondary">-</c-button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="py-6">Your shopping list is empty. Start adding some items!</p>
        {% endif %}
        <template id="item-template">
            <div class="flex flex-col md:flex-row gap-4 mb-4">
                <c-form-field type="text" name="item" placeholder="flour"/>
                <c-form-field type="number" name="quantity" placeholder="200"/>
                <c-form-field type="select" name="unit" :choices="unit_choices"/>
                <c-button class='remove_btn' type="button" variant="secondary">-</c-button>
            </div>
        </template>
        <div class="flex flex-col md:flex-row gap-4 mb-4">
            <c-form-field type="text" name="item" placeholder="flour"/>
            <c-form-field type="number" name="quantity" placeholder="200"/>
            <c-form-field type="select" name="unit" :choices="unit_choices"/>
            <c-button class='remove_btn' type="button" variant="secondary">-</c-button>
        </div>
        <c-button class='add_btn' type="button" variant="secondary">+</c-button>
    </div>
</div>

<script type="module" src="{% static 'js/shopping_list.js' %}"></script>
{% endblock %}